$primary-orange: #ea982b;
$text-black: #000000;
$border-light: #eeeeee;

.loginPage {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;
}

.content {
  max-width: 500px;
  width: 100%;
  text-align: center;
}

.pageTitle {
  font-size: 4rem !important;
  font-weight: 900 !important;
  color: $text-black;
  margin-bottom: 50px !important;
}

.form {
  margin-bottom: 30px;
}

// CUSTOM MUI INPUTS
:global(.MuiTextField-root) {
  :global(.MuiInputLabel-root) {
    font-size: 1.6rem !important;
    font-family: unset !important;
    color: #999;
  }

  :global(.MuiOutlinedInput-root) {
    font-size: 1.6em !important;
    border-radius: 12px !important;
    background: #fafafa;

    fieldset {
      border: 2px solid $border-light !important;
      font-size: 1.5rem !important;
      transition: 0.2s;
    }

    &:hover fieldset {
      border-color: #ccc !important;
    }

    &.Mui-focused fieldset {
      border-color: red !important;
    }
  }

  :global(.MuiInputLabel-root.Mui-focused) {
    color: #ea982b !important;
  }

  :global(.MuiInputBase-input) {
    font-size: 1.5rem !important;
  }
}

.submitBtn {
  background-color: $text-black !important;
  color: #fff !important;
  padding: 18px !important;
  font-size: 1.6rem !important;
  font-weight: 800 !important;
  border-radius: 12px !important;
  transition: 0.3s !important;
  margin-top: 20px !important;

  &:hover {
    background-color: $primary-orange !important; // Hover sang màu cam thương hiệu
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(234, 152, 43, 0.2);
  }

  &:disabled {
    background-color: #eee !important;
  }
}

.footerLinks {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 1.5rem;
  color: #666;

  a {
    color: #666;
    text-decoration: none;
    transition: 0.2s;
    &:hover {
      color: $primary-orange;
    }
  }

  .highlight {
    color: $primary-orange;
    font-weight: 700;
    text-decoration: underline;
  }

  .divider {
    height: 1px;
    background: #eee;
    width: 100px;
    margin: 5px auto;
  }
}
